
.main_wrapper {
    margin-bottom: 200px;

}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container_title_work {
    margin-bottom: 50px;
    padding-left: 20px;
}

.title_work {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 50px;
}

.container_works {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media (max-width: 1200px) {
    .container_works {
        align-items: center;
        justify-content: center;
        /*padding: 0 10px;*/
    }
}


@media (max-width: 992px) {
    .container {
        max-width: none;
    }
    .container_works {
        width: 100%;

    }
}

@media (max-width: 500px) {

}