

textarea:focus, input:focus {
    outline: none;
}

.main_wrapper {
    margin-bottom: 200px;
    padding-left: 20px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.title {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 50px;
}

.block_form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


.input_block {

}


.form__field, .form__field_message {
    width: 70%;
    padding: 11px 20px;
    margin-bottom: 30px;

    border: 1px solid #eee;
    border-radius: 5px;

    transition: all 0.3s ease-in;

    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;

}

.form__field_message {
    margin-bottom: 50px;
}

.form__field_message:focus {
    box-shadow: 0 0 0 0.2rem rgba(127, 181, 181, 0.4);
}

.form__field:focus {
    box-shadow: 0 0 0 0.2rem rgba(127, 181, 181, 0.4);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset; /* можно изменить на любой вариант цвета */
    -webkit-text-fill-color: #333;
}

.container_btn {
    margin-bottom: 20px;
}

.button {
    width: 180px;
    line-height: 40px;
    text-align: center;

    background-color: #7FB5B5;

    border-radius: 20px;
    border: none;

    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Overpass, monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    letter-spacing: 1px;

    transition: .3s;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 0 #448383;
}

.button:active {
    transform: translateY(-2px);
    box-shadow: 0 1px 0 #448383;
}

@media (max-width: 500px) {
    .form__field, .form__field_message{
        width: 100%;
    }
}